.form {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button {
    align-items: center;
}
.input{
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.menu{
    align-items: center;
}
.menu p{
    margin-right: 2rem;
    cursor: pointer;
    padding: 2rem;
}
.content{
    margin-top: 2rem;
}
[data-content]{
    display: none;
}
.active[data-content]{
    display:block;
}
.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("/w3images/img_5terre_wide.jpeg");
    min-height: 50%;
  }
  .header H1{
    color: white;
    text-align: center;
  }
